.p-login {
  padding-top: $space-lg;
  
  &__form {
    padding-top: $space-lg;
  }

  &__container {
    max-width: 600px;
    margin: 0 auto;
  }

  &__button {
    @include flex-center;
    gap: $space-sm;
  }
  &__register-link {
    margin-top: $space-md;
  }
}