.p-registration {
  margin-top: $space-lg;
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    padding: $space-lg;
  }

  &__container {
    // max-width: 600px;
    margin: 0 auto;
  }
}