@use "../abstracts" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: $color-text-main;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

textarea, input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: $color-canvas;
}