@use "../abstracts" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: $color-text-main;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1 { @include typography($font-3xl, $font-weight-bold, $line-height-tight); }
h2 { @include typography($font-2xl, $font-weight-bold, $line-height-tight); }
h3 { @include typography($font-xl, $font-weight-medium, $line-height-tight); }
h4 { @include typography($font-lg, $font-weight-medium, $line-height-tight); }
p { @include typography($font-md, $font-weight-medium, $line-height-tight); }
small { @include typography($font-sm, $font-weight-medium, $line-height-tight); }

textarea, input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  width: 100%;
  background: $color-canvas;
}