.p-user {
  margin-top: $space-lg;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-md;
    padding: $space-lg;
  }

  &__container {
    margin: 0 auto;
  }

  &__login-link {
    margin-top: $space-md;
  }

  &__radiogroup {
    display: flex;
    flex-direction: column;
    padding-left: $space-md;
    gap: $space-lg;
    
    @include desktop {
      flex-direction: row;
      align-items: center;
    }
  }

  &__radio-wrapper {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: $color-text-muted;
    transition: 0.2s;
    font-weight: 700;

    &:hover {
      color: $color-text-main;
      font-weight: 720;
    }
  }

  &__radio-wrapper--selected {
    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
    }
  }

  &__radio-icon-wrapper {
    @include flex-center;
  }

  &__button {
    @include flex-center;
    gap: $space-sm;
  }
}