.c-dropzone {
  border: 2px dashed $color-border;
  padding: $space-xl;
  text-align: center;
  margin-bottom: $space-md;
  border-radius: $radius-md;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
  }
}