@use "../01-settings/variables" as *;

@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin mq($min) {
  @media (min-width: $min) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// TYPOGRAPHY

@function rem($pixel) {
  @return calc($pixel / $font-size-root) * 1rem;
}

@mixin typography($size, $weight: $font-weight-normal, $lh: $line-height-base) {
  font-family: $font-family-base;
  font-size: rem($size);
  font-weight: $weight;
  line-height: $lh;
}