@use "../01-settings/variables" as *;

@mixin mobile {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-mobile + 1px}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}