.c-select {
  position: relative;
  width: 100%;

  &__menu {
    position: absolute;
    background: $color-surface;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    
    border-radius: $radius-md;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-border;

    max-height: 250px;
    overflow-y: auto;

    > li {
      padding: $space-sm;
      &:hover {
        background: $color-canvas;
      }
    }
  }
}