
.c-typography {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--h1 {
    @include typography($font-3xl, $font-weight-medium, $line-height-tight);
    letter-spacing: -0.02em;
  }

  &--h2 {
    @include typography($font-2xl, $font-weight-medium, $line-height-tight);
    letter-spacing: -0.02em;
  }

  &--h3 {
    @include typography($font-xl, $font-weight-medium, $line-height-tight);
  }

  &--h4 {
    @include typography($font-lg, $font-weight-medium, $line-height-tight)
  }

  &--body {
    @include typography($font-md, $font-weight-medium, $line-height-tight);
  }

  &--small {
    @include typography($font-sm, $font-weight-medium, $line-height-tight);
  }

  &--muted {
    color: $color-text-muted
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

   &--success {
    color: $color-success;
  }

  &--error {
    color: $color-error;
  }
}