
.c-typography {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--h1 {
    @include typography(40px, 700, 1.1);
    letter-spacing: -0.02em;
  }

  &--h2 {
    @include typography(32px, 700, 1.2);
    letter-spacing: -0.02em;
  }

  &--h3 {
    @include typography(24px, 600, 1.2);
  }

  &--body {
    @include typography(16px, 400, 1.5);
  }

  &--md {
    @include typography(18px, 400, 1.5);
  }

  &--small {
    @include typography(14px, 500, 1.4);
  }

  &--xs {
    @include typography(12px, 500, 1.4);
  }

  &--muted {
    color: $color-text-muted
  }

  &--primary {
    color: $color-primary;
  }

  &--secondary {
    color: $color-secondary;
  }

   &--success {
    color: $color-success;
  }

  &--error {
    color: $color-error;
  }
}