.c-side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: $color-surface;
  transition: transform 0.3s ease-in-out;
  padding: 2rem;
  z-index: 100;
  box-shadow: $shadow-right-md;

  &--open {
    transform: translateX(300px);
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}
&__backdrop--visible {
  opacity: 1;
  visibility: visible;
}

  &__header {
    margin-bottom: 3rem;
    border-bottom: 1px solid $color-border;
    padding-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: $space-sm;
    cursor: pointer;
    padding: $space-sm;
    transition: 0.5s;
    &:hover {
      background: $color-border;
      color: $color-primary;
    }
  }

  &__link {
    text-decoration: none;

    // &:hover {
    //   color: $color-primary;
    // }
  }
}